# This is a [markdown snippet](https://forestry.io/docs/settings/snippets)

- list
- items
- should
- render

```html
so should code
```

```go
func main {
    printf("heh")
}
```

1. more
2. lists

## I guess there isn't
### that much to markdown, huh

and we can \#escape \[markdown syntax\] to render it plain
